

*{
	
	margin-top:0px;
	/* box-sizing:border-box; */
}

.toplogo{
	background-color: black;
	width:100vw;
	display:flex;
	justify-content:space-between;
	padding-top: 10px;
	padding-bottom: 10px;
}
body{
	
	overflow-x:hidden;
}
.picture{
	width:118px;
	height:18px;
	
}
.logo_pic{
	margin-left: 10px;
}
.first_btn{
	margin-right: 10px;
	
}
.anchor{
	text-decoration:none;
	color:black;
}
.btn{
	background-color:#6f9a37;
	color:#fff;
	box-shadow: 0 2px 0 #6f9a37;
	padding: 8px 7px 8px 7px;
	margin-right:20px;
	border:none;
	box-shadow:8px 8px 3px black;
}

.top-head1{
	/* background-image: url("img1.jpeg"); */
	background:rgba(0,0,0,0.4)url("img1.jpeg");
	background-blend-mode:darken;
	width:100vw;
	justify-content:center;
	background-repeat:no-repeat;
	/* filter: brightness(50%); */
	/* opacity:0.2; */

}
.top-head{
	
	
	width:100vw;
	display:flex;
	justify-content:space-between;
	
}
.social_media{
	display:flex;
	margin-top:10px;
	width:20vw;
	justify-content:space-between;
}
.social_time{
	display:flex;
	margin-top:10px;
	gap:20px;
}
.second_navbar{
	width:100vw;
	justify-content:center;
	position:sticky;
	top:0;
	
	z-index:10;
}
.second_navbar1{
	padding: 10px 0px 10px 0px;
	width:98vw;
	background-color:#fff;
	display:flex;
	justify-content:space-between;
	height:fit-content;
	align-items:center;
	top:0;
	box-shadow: 4px 8px 10px;
	border-radius:10px;
}
.unorder{
	display:flex;
	list-style:none;
	align-items:center;
	gap:20px;
	font-size: 20px;
	font-family: "Playfair Display", serif;
}
.denote_btn{
	background-color:#FAB74C;
	padding:10px 15px 10px 15px;
	border:none;
	margin-right:5px;
	border-radius:6px;
	font-weight:bold;
	
  font-family: "Rubik", sans-serif;
	
	
}
.heading{
	width:535px;
	height:235px;
	color:#fff;
	margin-top: 100px;
	font-size: 30px;
	padding: 0px 40px;
	font-family: "Poppins", sans-serif;
}
.pera{
	width:535px;
	height:80px;
	
	color:#fff;
	font-size:20px;
	padding: 0px 40px;
	font-family: "Anek Tamil", sans-serif;
	
}
.down_pera{
	padding: 0px 40px;
	height:20vh;
	
}
.get_btn{
	background-color:#FAB74C;
	padding:10px 19px 10px 19px;
	border:none;
	box-shadow: 5px 5px 2px;
	font-weight:bold;
	cursor:pointer;
	
	
}
.get_btn:hover{
	background-color:#FA7070;
	transition: 1s linear ease;
}
.rescue_animal{
	width:100vw;
	Display:flex;
	
	justify-content:center;
	gap:1px;
	
	padding:12px 0px 12px 0px;
	
	/* background-color:#fff; */
	
}
.rescue_animal1{
		width:90vw;
		background-color:#fff;
		display:flex;
		border-radius:10px;
		padding:12px 8px 12px 8px;
		
		
		
}
.rescue-pic{
	border-radius:50%;
	background:transparent;
}

.FURRESCUE{
	display:flex;
	margin-top:30px;
}
.FURRESCUE1{
	padding: 0px 20px;
}
.about-pera{
	color:#5A77C1;
	font-family: "Dancing Script", cursive;
}
.about-heading{
	font-family: "EB Garamond", serif;
}
.dog-home{
	font-family: "Bad Script", cursive;
}
.platea{
	font-family: "Merriweather", serif;
	font-weight: 700;
	font-style: normal;
}
.discover{
	display:flex;
	width:100%;
	justify-content:space-evenly;
}
.alonecat:hover{
	scale:1.02;
	transition: all;
	transition-duration:1s;
	
}
.top-catdog{
	
	border: 3px #fff;
	
	
	
}
.catdog{
	border-radius:50%;
	margin-bottom:0;
	margin-top:280px;
	margin-left:-10px;
	-webkit-animation: spin 5s alternate;
	animation: spin 5s alternate;
	object-fit: fill;
	
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  30% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  30% { transform: rotate(360deg); }
}
.media{
	font-size:35px;
	color:#36D5AD;
}.media:hover{
	
	color:#5A77C1;
	transition:all;
	transition-duration:1s;
	transition-timing-function:linear;
}
.Now{
	font-weight:bold;
}
.img_container{
	margin-top:70px;
	width:100vw;
	display:flex;
	justify-content:space-between;
	
}
.audio_video{
	width:100vw;
	height:100vh;
	background:rgba(0,0,0,0.4)url("img10.jpeg");
	background-blend-mode:darken;
	background-repeat:no-repeat;
}
.sucess{
	color:yellow;
	font-family: "Roboto Slab", serif;
	font-style: italic;
	
}
.audio_video1{
	display:flex;
}
.img_container2{
	
	width:100%;
	height:100vh;
	
	display:flex;
	
	justify-content:center;
	align-items:center;
	
}
#play_button{
	width:100px;
	height:100px;
	color:pink;
	border:2px solid red;
	font-size:30px;
	display:flex;
	background-color:#fff;
	border-radius:50%;
	justify-content:center;
	align-items:center;
	animation: shake 4s;
	animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#play_button:hover{
	scale:1.02;
}
.mediaicon{
	
	
	
}
.nec{
	padding:83px 49px 0px 95px;
}
.success{
	font-style:normal;
	color:yellow;
}

.adoption{
	color:#fff;
	font-family: "Roboto Slab", serif;
	font-weight:bold;
	font-size:3.2rem;
	
}
.magna{
	color:#fff;
	font-family: "Roboto Slab", serif;
	font-style:italic;
	font-size:1.2rem;
	
}


.offer{
	margin-top:40px;
	text-align:center;
	font-family: "Jacquard 24", system-ui;
	color:#5A77C1;
}
.offer1{
	width:100%;
	/* background-color:red; */
	text-align:center;
	font-family: "Roboto Slab", serif;
	font-size:23px;
	margin-top:20px;
	
}
.offer2{
	margin-left:auto;
	margin-right:auto;
	width:50%;
	/* background-color:yellow; */
	
	
}
.upper_card{
	display:grid;
	grid-column: 1 / 3;
	grid-template-columns:  auto auto auto;
	gap:30px;
	width:100%;
	/* background-color:red; */
	justify-content:space-evenly;
	margin-top:40px;
}

.card{
	width:243px;
	height:293.5px;
	background-color:#5A77C1;
	text-align:center;
	border-radius:10px;
	padding:1px 12px 0px 12px;
	margin-left:10px;
	margin:10px 0px 10px 0px;
}
.card:hover{
	/* background-image: url("bg.png"); */
	
	background:rgba(0,0,0,0.6)url("bg.png");
	background-blend-mode:darken;
	background-size:cover;
	
}
.card .card_img{
	/* margin-top:10px; */
	padding:10px 0px 0px 1px;
	border-radius:50%;
}
.card .card_img .card_inside_img{
	/* margin-top:10px; */
	/* padding:10px 0px 0px 1px; */
	border-radius:50%;
	object-fit:fill;
}
.card .pet{
	margin-top:10px;
	margin-bottom:20px;
	color:#fff;
	font-weight:bold;
	font-size:1.3rem;
}
.card .id{
	margin-top:10px;
	margin-bottom:20px;
	color:#fff;
	
	font-size:1rem;
}



